:root{
    --bg-color: #fcfcee;
    --acc-color: #8e6244;
    /* --ex-color: #5c3c37; */
    --ex-color: #66423c;
    --form-color: #8e6244;
    --form-text: #fcfcee;
}

*{
    box-sizing: border-box;
}


::selection{
    background-color: var(--acc-color);
}


html{
    scroll-behavior: smooth;
}

/* header{
    position: sticky;
    top: 0;
    left: auto;
    z-index: 9999;
} */

#up-arrow{
    position: fixed;
    right: 18px;
    bottom: 45px;
    z-index: 9999;
    padding: 2px 3px 2px 3px;
    border: 4px solid var(--acc-color);
    border-radius: 50%;
    /* display: flex;
    justify-content: end;
    align-items: end; */
}

h1{
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: .5em;
    color: var(--ex-color);
    border: 4px solid var(--acc-color);
    border-radius: 5px;
}


.sidebar {
    width: 360px;
    height: 100vh;
    color: var(--bg-color);
    background-color: var(--ex-color);
    border-right: 20px solid var(--acc-color);
    display: inline-block;
    position: fixed;
    z-index: 100;
    /* display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 10px; */
    padding-top: 50px;
    box-sizing: content-box;
    /* transform: translateX(-360px);
    transition: transform 1s; */
    translate: -360px 0;
    transition: translate .5s;
    cursor: pointer;
    }
    .sidebar:hover {
    /* transform: translateX(0); */
    translate: 0;
    }
.container {
        /* display: flex;
        justify-content: start;
        align-items: end;
        column-gap: 80px; */
        display: inline-block;
        position: fixed;
        z-index: 9999;
        }

/* TOGGLER */
.toggle-container{
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
}
.toggle-wrapper{
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
}
.toggle-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1;
    width: 1;
}
.toggle-slot{
    position: relative;
    cursor: pointer;
    height: 4em;
    width: 8em;
    border: 2px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    box-shadow: 0px 4px 10px #e4e7ec;
    transition: background-color 250ms;
}
.toggle-checkbox:checked ~ .toggle-slot{
    background-color: #374151;
}
.toggle-button{
    transform: translate(4.7em,0.7em);
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.3em #ffbb52;
    transition: background-color 250ms,border-color 250ms,transform 1500ms cubic-bezier(.26,2,.46,.71);
}
.toggle-checkbox:checked ~ .toggle-slot .toggle-button{
background-color: #485367;
box-shadow: inset 0px 0px 0px 0.3em white;
transform: translate(0.7em,0.7em);
}
.sun-icon{
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    color: #ffbb52;
}
.sun-icon-wrapper{
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    opacity: 1;
    transform: translate(0.8em ,0.8em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms,transform 1500ms cubic-bezier(.26,2,.46,.71)
}
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper{
opacity: 0;
transform: translate(1.2em,0.8em) rotate(0deg);
}
.moon-icon{
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    color: white;
}
.moon-icon-wrapper{
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    opacity: 0;
    transform: translate(4.4em ,0.8em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms,transform 1500ms cubic-bezier(.26,2,.46,.71)
}
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper{
opacity: 1;
transform: translate(4.8em,0.8em) rotate(-15deg);
}



body{
    margin: 0;
    background-color: var(--bg-color);
}
body.dark-theme{
    --bg-color: #252850;
    --acc-color: #f5f5dc;
    --ex-color: #c9c9ac;
    --form-color: #f5f5dc;
    --form-text: #000;
}

.light-mode{
    display: block;
}
.dark-mode{
    display: none;
}
.light-photo{
    display: block;
}
.dark-photo{
    display: none;
}


hr{
    color: var(--acc-color);
    width: 75%;
}


.menu_wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: fit-content;
    min-height: fit-content;
    z-index: 9999;

    width: 400px;
    border: 4px solid var(--acc-color);
    border-radius: 5px;
}
.menu{
    display: flex;
    row-gap: 20px;
    background-color: var(--acc-color);
    z-index: 9999;
    width: 400px;
}

.menu-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--acc-color);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
.menu-body{
    display: flex;
    flex-flow: row nowrap;
}
.menu-body a{
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding: 10px;
    color: var(--ex-color);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}


.gallery{
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 3em;
    width: 85%;
    height: 204px;
    border: 2px solid var(--acc-color);
    border-radius: 5px;

}
.gallery img{
    border-radius: 5px;
    height: 100%;
}



.videos{
    width: 85%;
    max-width: fit-content;
    margin: 0 auto;
}
.videos h2{
    padding-top: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: center;
    color:var(--ex-color);
}
.video_container {
    margin: 0 auto;
    height: fit-content;
    width: 100%;
    overflow-x: scroll;
    border: 4px solid var(--acc-color);
    border-radius: 5px;

}
.video_slider {
    display: flex;
    height: fit-content;
    gap: 10px;
}
.video{
    flex: 0 0 auto;
    height: 100%;
}

.coop_form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 40vh; */
    flex-flow: column;
}
.form {
    color: var(--ex-color);
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;
    border: 1px solid var(--acc-color);
    border-radius: 5px;
    box-shadow: 2px 3px 10px 0 var(--acc-color);
    }
.form input::placeholder, textarea::placeholder, button{
    color: var(--form-text);
}
.coop_form h3{
    text-align: center;
    color:var(--ex-color);
    margin: 0 auto;
    margin-top: 1em;
    padding-top: 1em;
    max-width: fit-content;
    display: flex;
}
.form__fieldset{
    border: 2px solid var(--acc-color);
    border-radius: 5px;
}
.form-group{
    position: relative;
    margin: 14px 0;
}
.form-group input {
    width: 95%;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: var(--ex-color) solid 2px;
    background-color: var(--acc-color);
    color: var(--bg-color);
    transition: 0.15s all ease;
}
.form-group input:focus {
    border-color: var(--ex-color);
}
.form-group input::placeholder {
    color: transparent;
}
.form-group .form-label {
    position: absolute;
    border-radius: 5px;
    top: 9px;
    left: 0;
    font-size: 16px;
    padding: 0 10px;
    color: var(--bg-color);
    pointer-events: none;
    transition: 0.2s all ease;
}
.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) +
.form-label {
    transform: translate(5px, -22px);
    background-color: var(--acc-color);
    font-size: 14px;
    color:var(--bg-color);
}
.form__description {
    width: 100%;
    border: 2px solid var(--acc-color);
    border-radius: 5px;
    background-color: var(--form-color);
    resize: vertical;
    }
.form__submit {
    background-color: var(--ex-color);
    border-color: var(--acc-color);
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: .5em;
    }
.form__submit:hover {
    background-color: var(--form-color);
    cursor: pointer;
}


footer h4{
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    color:var(--ex-color);
}
.tfooter{
    background-color: var(--acc-color);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: .5em;
    border: 3px dashed var(--bg-color);
    border-radius: 5px;
}
.contact{
    margin: .5em;
}

#tg img:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 7px #1c9ff1 inset,
                0px 0px 7px #1c9ff1;
}
#vk img:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 7px #0679e6 inset,
                0px 0px 7px #0679e6;
}
#inst img:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 7px #ff0095 inset,
                0px 0px 7px #ff0095;
}
#yt img:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 7px #ff0000 inset,
                0px 0px 7px #ff0000;
}


@media(max-width: 768px){
    .sidebar{
    border-right: 10px solid var(--acc-color);
    width: 240px;
    translate: -240px 0;
    }
    #up-arrow{
        display: none;
    }
    /* .menu_wrapper{
        width: 350px;
    } */
    .toggle-wrapper{
        display: none;
    }
    .toggle-slot{
        height: 2em;
        width: 4em;
        border: 1px solid #e4e7ec;
        border-radius: 5em;
        box-shadow: 0px 2px 5px #e4e7ec;
    }
    .toggle-button{
        transform: translate(2.35em,0.35em);
        height: 1.2em;
        width: 1.2em;
        box-shadow: inset 0px 0px 0px 0.15em #ffbb52;
    }
    .toggle-checkbox:checked ~ .toggle-slot .toggle-button{
    box-shadow: inset 0px 0px 0px 0.15em white;
    transform: translate(0.35em,0.35em);
    }
    .sun-icon{
        height: 1.2em;
        width: 1.2em;
    }
    .sun-icon-wrapper{
        height: 1.2em;
        width: 1.2em;
        transform: translate(0.4em ,0.4em) rotate(15deg);
    }
    .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper{
    transform: translate(0.6em,0.4em) rotate(0deg);
    }
    .moon-icon{
        height: 1.2em;
        width: 1.2em;
    }
    .moon-icon-wrapper{
        height: 1.2em;
        width: 1.2em;
        transform: translate(2.2em ,0.4em) rotate(0deg);
    }
    .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper{
    transform: translate(2.4em,0.4em) rotate(-15deg);
    }
}

@media(max-width: 400px){
    .video iframe{
        width: 270px;
        height: 480px;
    }
    .menu_wrapper{
        width: 350px;
    }
}
@media(max-width: 360px){
    .menu_wrapper{
        width: 300px;
    }
}
@media (hover :hover) {
    .menu-body a:hover{
        background-color: var(--acc-color);
        color: var(--bg-color);
    }
}
@media (hover :none) {
    .menu-body a:active{
        background-color: var(--acc-color);
        color: var(--bg-color);
    }
}